body {
    margin: 0px;
}

ul {
    list-style: none;
}

.googleimg {
    display: block;
    margin: 0 auto;
    height: 92px;
    max-width: 100%;
    padding-top: 10%;
}

li {
    display: inline;
}

.topleftlinks {
    float: left;
    position: relative;
    right: 20px;
}

.toprightlinks {
    float: right;
    position: relative;
    right: 30px;
}