.top-right-links {
    display: inline-block;
    float: right;
}

.top-left-links {
    display: inline-block;
}

.google-img {
    display: grid;
    position: absolute;
    height: 92px;
    left: 700px;
    top: 200px;
}

.search-box {
    display: inline;
    position: relative;
    top: 300px;
    left: 620px;
}

.the-box {
    height: 35px;
    width: 400px;
}